.spikes {
  position: relative;
  background: #2c3e50;
  height: 1vh;
}

.spikes::after {
  content: "";
  position: absolute;
  right: -0%;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 25px;
  background-size: 25px 100%;
  background-image: linear-gradient(135deg, #e09117 25%, transparent 25%),
    linear-gradient(225deg, #3082b7 25%, transparent 25%);
  background-position: 0 0;
}
